:root{/*Para los colores*/
    --color-primario: #fffffe; /*Fondo*/
    --color-secundario: #272343;
    --color-terciario: #F9E8C9;
    --color-cuarto: #98ABEE;
    --color-quinto: #070F2B;
    --color-sexto: #96E9C6;
    --color-septimo: #005B41;
}
.tabla{
  border-collapse: collapse;
  border: 3px solid;
}
th{
  border: 3px solid;
}
td{
  border: 3px solid;
  background-color: var(--color-septimo);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.grid-container {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 45% auto;
  grid-template-rows: 80px auto auto;
  padding: 0;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right';
}

.grid-item1 {
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  grid-area: header;
  background-color: var(--color-cuarto);
}
.grid-item2 p{
  padding: 0 20px;
  text-align: justify;
}
.grid-item2 {
  background-color: var(--color-quinto);
  color: var(--color-cuarto);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  grid-area: menu;
}
.grid-item2 label{
  color: var(--color-primario);
}
.grid-item3 p{
  padding: 0 30px;
}
.grid-item3 {
  background-color: var(--color-cuarto);
  color: var(--color-quinto);
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  grid-area: main;
}
.grid-item4 p{
  padding: 0 15px;
}
.grid-item4 {
  background-color: var(--color-quinto);
  color: var(--color-cuarto);
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  grid-area: right;
}
.fto{
  width: 150px;
  height: 150px;
  background-image: url(descarga1x1.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 10%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.expo{
  font-size: 30px;
  text-align: center;
}
.logo{
    font-size:2.3em;
    color: var(--color-primario);
    cursor: pointer;/*cambia el pulsor*/
}

.logo span{
    color: var(--color-quinto);
}

.navegacion a{
    font-size: .8em;
    color: var(--color-quinto);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 600;
    transition: 1s;
}
.blnc{
  color: var(--color-primario);
}
.grn{
  color: var(--color-septimo);
}
.amarillo{
  color: #F8E559;
}
.rojo{
  color: #BE3144;
}
.blue{
  color: rgb(0, 87, 158);
}
.navegacion a:hover{
    color: var(--color-primario);
    font-size: 1em;
}